@page
@model ECommerceApp.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}
    <h4>My Shopping Cart</h4>

<table class="table">
    <thead>
       <tr>
           <th>
               Name
           </th>
           <th>
               Price
           </th>
           <th>
               Category
           </th>
       </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.CartItems)
        {
        <tr>

            <td>
                @item.Product.Name
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @item.Product.Category.Name
            </td>
            <td>
                @if (!string.IsNullOrEmpty(@item.Product.ImageUrl))
                {
                    <img src="@item.Product.ImageUrl" style="height:100px;width:100px;" />
                }
            </td>
        </tr>
        }
    </tbody>
</table>