@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>

@User.Identity.Name

@if (User.IsInRole("Administrator"))
{
                <p>You are an Admin</p>
}

@if (User.IsInRole("Editor"))
            {
                <p>You are an Editor</p>
            }