@model List<Category>
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<div class="card" style="width: 18rem;">
     <div class="card-header">
         Categories
     </div>
     @foreach (var category in Model)
     {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                                @category.Name
                            </a>
                        </li>
                    </ul>
     }
</div>